<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>聚类分析--报告</title>
<style type="text/css">
body {
	background-color: #FFFFFF;
}
.title {
	font-size: 30px;
	color: #333;
	text-align: center;
	font-weight: bold;
}
.info {
	text-align: center;
	font-family: "黑体";
	font-size: 20px;

}
.info_B_desc {
	background-color: #999;
}
.info_B_title {
	font-size: 18px;
}
</style>
</head>

<body>
<p class="title">原始数据聚类结果</p>
<hr />
<br>
%s
<br>
<hr />
<br>
%s
<br>
%s
<hr />
<br>
%s
<hr />
<p class="title">主成分聚类结果</p>
<hr />
<br>
%s
<br>
<hr />
<br>
%s
<br>
%s
<hr />
<br>
%s
</body>
</html>
