<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>聚类分析--报告</title>
<style type="text/css">
body {
	background-color: #FFFFFF;
}
.title {
	font-size: 30px;
	color: #333;
	text-align: center;
	font-weight: bold;
}
.info {
	text-align: center;
	font-family: "黑体";
}
</style>
</head>

<body>
<p class="title">聚类分析结果</p>
<hr />
<p>&nbsp;</p>
<table width="627" border="1" align="center" cellspacing="0" class="info">
  <tr>
    <td width="132">描述</td>
    <td width="479">这里是描述</td>
  </tr>
  <tr>
    <td>样本数</td>
    <td>n</td>
  </tr>
  <tr>
    <td>聚类特征</td>
    <td>A,B,C,D</td>
  </tr>
  <tr>
    <td height="30">聚类数</td>
    <td>k</td>
  </tr>
</table>
<p>&nbsp;</p>
<hr />
<table width="591" border="1" align="center" cellpadding="1" cellspacing="0" class="info" summary="代表: 表示距离该质心最近的样本点">
  <caption>
    聚类质心
  </caption>
  <tr>
    <th scope="row">序号</th>
    <td>特征1</td>
    <td>特征2</td>
    <td>特征3</td>
    <td nowrap="nowrap">特征4</td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td>11</td>
    <td>12</td>
    <td>13</td>
    <td>14</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>21</td>
    <td>22</td>
    <td>23</td>
    <td>24</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>31</td>
    <td>32</td>
    <td>33</td>
    <td>34</td>
  </tr>
</table>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<table width="858" border="1" align="center" cellspacing="0" class="info">
  <tr>
    <th width="179" nowrap="nowrap" scope="row">序号</th>
    <td width="198">包含的样本</td>
  </tr>
  <tr>
    <th nowrap="nowrap" scope="row">第3个聚类点包含的样本</th>
    <td>A,B,C,D,E,F,G,H,I,G,</td>
  </tr>
  <tr>
    <th nowrap="nowrap" scope="row">第4个聚类点包含的样本</th>
    <td>A,B,C,D,E,F,G,H,I,G,</td>
  </tr>
  <tr>
    <th nowrap="nowrap" scope="row">第5个聚类点包含的样本</th>
    <td>A,B,C,D,E,F,G,H,I,G,</td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
